.landingPage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1px;
    background: #ffffffff;
    box-shadow: 0px 4px 14px 0px #0000001a;
    overflow: hidden;
}

.frame1007 {
    align-self: stretch;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    column-gap: 48px;
    height: 32px;
    padding: 12px 24px 11px;
}

.frame1006 {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.union {
    flex-shrink: 0;
    width: 30.609375px;
    height: 32px;
}

.xXX {
    flex-shrink: 0;
    min-width: 41px;
    font-family: Inter;
    font-size: 20px;
    color: #1c1f23ff;
    line-height: 28px;
    letter-spacing: -0.6px;
    text-align: left;
    vertical-align: top;
    font-weight: 600;
}

.frame237 {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    align-items: center;
    column-gap: 32px;
}

.navTitle {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.text {
    flex-shrink: 0;
    min-width: 56px;
    font-family: "PingFang SC";
    font-size: 14px;
    color: #1c1f2399;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    font-weight: 600;
}

.text_369be349 {
    flex-shrink: 0;
    min-width: 42px;
    font-family: "PingFang SC";
    font-size: 14px;
    color: #1c1f2399;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    font-weight: 600;
}

.badgeDangerSolid {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    border-style: solid;
    background: #fef2edff;
    padding: 0px 4px;
    border-color: #ffffffff;
    border-radius: 16px;
}

.number {
    flex-shrink: 0;
    min-width: 27px;
    font-family: Inter;
    font-size: 12px;
    color: #f93920ff;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
}

.frame1005 {
    flex-shrink: 0;
    width: 208px;
    height: 32px;
}

.frame731 {
    flex-shrink: 0;
    position: relative;
    width: 1440px;
    height: 640px;
}

.rectangle333 {
    position: absolute;
    width: 1440px;
    height: 640px;
    background: #ffffffff;
}

.onlineWorldAmico1 {
    position: absolute;
    left: 161px;
    top: 118px;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.text_e9687cca {
    position: absolute;
    left: 627px;
    top: 118px;
    width: 476px;
    font-family: "PingFang SC";
    font-size: 48px;
    color: #000000ff;
    line-height: 56px;
    text-align: left;
    vertical-align: top;
    font-weight: 500;
}

.text_096efa5c {
    position: absolute;
    left: 627px;
    top: 257px;
    width: 652px;
    font-family: "PingFang SC";
    font-size: 18px;
    color: #1c1f23cc;
    line-height: 24px;
    text-align: left;
    vertical-align: top;
    font-weight: 400;
}

.group {
    position: absolute;
    left: 627px;
    top: 358px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
}

.solidBlockTextPrimar {
    position: relative;
    width: 192px;
    height: 40px;
    overflow: hidden;
}

.rectangle {
    position: absolute;
    width: 192px;
    height: 40px;
    background: #0077faff;
    border-radius: 3px;
}

.text_c5c91808 {
    position: absolute;
    left: 60px;
    top: 8px;
    min-width: 72px;
    font-family: "PingFang SC";
    font-size: 18px;
    color: #ffffffff;
    line-height: 24px;
    text-align: center;
    vertical-align: top;
    font-weight: 600;
}

.rectangle_3a438062 {
    position: absolute;
    left: 835px;
    top: 358px;
    width: 193px;
    height: 40px;
    background: #2e32380d;
    border-radius: 3px;
}

.text_ad22f185 {
    position: absolute;
    left: 895px;
    top: 366px;
    min-width: 72px;
    font-family: "PingFang SC";
    font-size: 18px;
    color: #0077faff;
    line-height: 24px;
    text-align: center;
    vertical-align: top;
    font-weight: 600;
}

.group199 {
    position: absolute;
    left: 627px;
    top: 487px;
    width: 640px;
    height: 32px;
}

.text_db084193 {
    position: absolute;
    left: 627px;
    top: 443px;
    min-width: 160px;
    font-family: "PingFang SC";
    font-size: 14px;
    color: #1c1f2399;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    font-weight: 400;
}

.rectangle10 {
    position: absolute;
    left: 720px;
    width: 720px;
    height: 640px;
    background: #f9f9f9ff;
}

.text_cf8ddd15 {
    position: absolute;
    left: 841px;
    top: 156px;
    width: 438px;
    font-family: "PingFang SC";
    font-size: 20px;
    color: #0077faff;
    line-height: 32px;
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
}

.text_7e246147 {
    position: absolute;
    left: 841px;
    top: 100px;
    width: 438px;
    font-family: "PingFang SC";
    font-size: 20px;
    color: #1c1f23cc;
    line-height: 32px;
    text-align: left;
    vertical-align: middle;
    font-weight: 400;
}

.group20 {
    position: absolute;
    left: 841px;
    top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 44px;
}

.text_60d0dacd {
    width: 321px;
    height: 44px;
    font-family: "PingFang SC";
    font-size: 36px;
    color: #1c1f23ff;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
}

.text_380121f5 {
    position: absolute;
    left: 161px;
    top: 40px;
    width: 321px;
    height: 44px;
    font-family: "PingFang SC";
    font-size: 36px;
    color: #1c1f23ff;
    line-height: 44px;
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
}

.text_55efd2e0 {
    position: absolute;
    left: 161px;
    top: 100px;
    min-width: 340px;
    font-family: "PingFang SC";
    font-size: 20px;
    color: #1c1f23cc;
    line-height: 32px;
    text-align: left;
    vertical-align: middle;
    font-weight: 400;
}

.text_e93ed7f9 {
    position: absolute;
    left: 161px;
    top: 156px;
    width: 438px;
    font-family: "PingFang SC";
    font-size: 20px;
    color: #0077faff;
    line-height: 32px;
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
}

.documentsAmico11 {
    position: absolute;
    left: 841px;
    top: 204px;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.workChatPana11 {
    position: absolute;
    left: 114px;
    top: 271px;
    width: 400px;
    height: 266.6666564941406px;
    overflow: hidden;
}

.rectangle42 {
    position: absolute;
    left: 161px;
    top: 353px;
    width: 1118px;
    height: 204px;
    background: #ffffffff;
    box-shadow: 0px 4px 14px 0px #0000001a;
    border-radius: 12px;
}

.text_3cf4994e {
    position: absolute;
    left: 288px;
    top: 389px;
    min-width: 90px;
    font-family: "PingFang SC";
    font-size: 18px;
    color: #1c1f23ff;
    line-height: 28px;
    text-align: left;
    vertical-align: top;
    font-weight: 600;
}

.text_84a126f7 {
    position: absolute;
    left: 288px;
    top: 429px;
    width: 240px;
    font-family: "PingFang SC";
    font-size: 14px;
    color: #1c1f2399;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    font-weight: 400;
}

.text_77cf3c93 {
    position: absolute;
    left: 602px;
    top: 389px;
    min-width: 90px;
    font-family: "PingFang SC";
    font-size: 18px;
    color: #1c1f23ff;
    line-height: 28px;
    text-align: left;
    vertical-align: top;
    font-weight: 600;
}

.text_f7d0ed88 {
    position: absolute;
    left: 600px;
    top: 429px;
    width: 240px;
    font-family: "PingFang SC";
    font-size: 14px;
    color: #1c1f2399;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    font-weight: 400;
}

.text_d5c22521 {
    position: absolute;
    left: 914px;
    top: 389px;
    min-width: 72px;
    font-family: "PingFang SC";
    font-size: 18px;
    color: #1c1f23ff;
    line-height: 28px;
    text-align: center;
    vertical-align: top;
    font-weight: 600;
}

.text_219606e9 {
    position: absolute;
    left: 914px;
    top: 429px;
    width: 240px;
    font-family: "PingFang SC";
    font-size: 14px;
    color: #1c1f2399;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    font-weight: 400;
}

.text_eb1a16dc {
    position: absolute;
    left: 161px;
    top: 83px;
    width: 376px;
    font-family: "PingFang SC";
    font-size: 36px;
    color: #1c1f23ff;
    line-height: 44px;
    text-align: left;
    vertical-align: top;
    font-weight: 600;
}

.text_bd7302fd {
    position: absolute;
    left: 161px;
    top: 187px;
    width: 480px;
    font-family: "PingFang SC";
    font-size: 20px;
    color: #1c1f23cc;
    line-height: 32px;
    text-align: left;
    vertical-align: top;
    font-weight: 400;
}

.text_b838d0d2 {
    position: absolute;
    left: 161px;
    top: 275px;
    width: 438px;
    font-family: "PingFang SC";
    font-size: 20px;
    color: #0077faff;
    line-height: 32px;
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
}

.group369 {
    position: absolute;
    left: 979px;
    top: 86px;
    width: 300px;
    height: 223.53614807128906px;
}

.frame734 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #ffffffff;
    padding: 40px 161px;
}

.text_58f6b99e {
    min-width: 300px;
    font-family: "PingFang SC";
    font-size: 36px;
    color: #000000ff;
    line-height: 44px;
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
    margin: 0px 0px 0px 379px;
}

.autoWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1118px;
    height: 180px;
    margin: 32px 0px 0px;
}

.frame830 {
    position: relative;
    border-style: solid;
    width: 414px;
    height: 132px;
    background: #ffffffff;
    overflow: hidden;
    padding: 23px 88px 23px 31px;
    border-width: 1px;
    border-color: #1c1f2314;
    border-radius: 6px;
}

.group39 {
    position: absolute;
    left: 32px;
    top: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 414px;
}

.group38 {
    width: 64px;
    height: 64px;
}

.autoWrapper_e66f07e5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 6px 0px 0px;
}

.text_47a5230c {
    min-width: 207px;
    font-size: 24px;
    color: #1c1f23ff;
    line-height: 32px;
    text-align: left;
    vertical-align: middle;
    font-weight: 400;
}

.text_7c292878 {
    font-family: "PingFang SC";
    font-weight: 600;
}

.text_e5373332 {
    font-family: Inter;
    letter-spacing: -0.72px;
    font-weight: 600;
}

.text_2bb1fa73 {
    width: 334px;
    font-family: "PingFang SC";
    font-size: 20px;
    color: #1c1f23cc;
    line-height: 32px;
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
    margin: 8px 0px 0px;
}

.text_a71b8af3 {
    width: 334px;
    font-family: "PingFang SC";
    font-size: 20px;
    color: #0077faff;
    line-height: 32px;
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
    margin: 22px 0px 0px;
}

.group3 {
    position: absolute;
    left: 48px;
    top: 41px;
    width: 31.999963760375977px;
    height: 27.86103057861328px;
}

.frame831 {
    position: relative;
    border-style: solid;
    width: 460px;
    height: 123px;
    background: #ffffffff;
    overflow: hidden;
    padding: 22px 42px 33px 31px;
    border-width: 1px;
    border-color: #1c1f2314;
    border-radius: 6px;
}

.group40 {
    position: absolute;
    left: 32px;
    top: 23px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 460px;
}

.group37 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 7px 0px 0px;
}

.text_e3571755 {
    min-width: 152px;
    font-size: 24px;
    color: #1c1f23ff;
    line-height: 32px;
    text-align: left;
    vertical-align: middle;
    font-weight: 400;
}

.text_d87c01af {
    width: 379px;
    font-family: "PingFang SC";
    font-size: 20px;
    color: #1c1f23cc;
    line-height: 32px;
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
    margin: 8px 0px 0px;
}

.frame843 {
    display: flex;
    align-items: center;
    column-gap: 24px;
    margin: 22px 0px 0px;
}

.webSDK {
    flex-shrink: 0;
    min-width: 88px;
    font-family: Inter;
    font-size: 20px;
    color: #0077faff;
    line-height: 22px;
    letter-spacing: -0.4px;
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
}

.goSDK {
    flex-shrink: 0;
    min-width: 72px;
    font-family: Inter;
    font-size: 20px;
    color: #0077faff;
    line-height: 22px;
    letter-spacing: -0.4px;
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
}

.pythonSDK {
    flex-shrink: 0;
    min-width: 112px;
    font-family: Inter;
    font-size: 20px;
    color: #0077faff;
    line-height: 22px;
    letter-spacing: -0.4px;
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
}

.semiIconsLanguage {
    color: #ffffffff;
    font-size: 32px;
    position: absolute;
    top: 40px;
    left: 48px;
}

.autoWrapper_6d7ba691 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1118px;
    height: 180px;
    margin: 48px 0px 0px;
}

.frame832 {
    position: relative;
    border-style: solid;
    width: 459px;
    height: 132px;
    background: #ffffffff;
    overflow: hidden;
    padding: 23px 43px 23px 31px;
    border-width: 1px;
    border-color: #1c1f2314;
    border-radius: 6px;
}

.group42 {
    position: absolute;
    left: 32px;
    top: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 459px;
}

.xXXIntl {
    min-width: 91px;
    font-family: Inter;
    font-size: 24px;
    color: #1c1f23ff;
    line-height: 32px;
    letter-spacing: -0.72px;
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
}

.text_a45207ad {
    width: 379px;
    font-family: "PingFang SC";
    font-size: 20px;
    color: #1c1f23cc;
    line-height: 32px;
    text-align: left;
    vertical-align: top;
    font-weight: 600;
    margin: 8px 0px 0px;
}

.text_dc948699 {
    width: 81px;
    font-family: "PingFang SC";
    font-size: 20px;
    color: #0077faff;
    line-height: 32px;
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
    margin: 22px 0px 0px;
}

.frame833 {
    position: relative;
    border-style: solid;
    width: 415px;
    height: 132px;
    background: #ffffffff;
    overflow: hidden;
    padding: 23px 87px 23px 31px;
    border-width: 1px;
    border-color: #1c1f2314;
    border-radius: 6px;
}

.group44 {
    position: absolute;
    left: 32px;
    top: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 415px;
}

.group34 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2px 0px 0px;
}

.xXXVscode {
    min-width: 143px;
    font-family: "PingFang SC";
    font-size: 24px;
    color: #1c1f23ff;
    line-height: 32px;
    text-align: left;
    vertical-align: top;
    font-weight: 600;
}

.text_a01a1f55 {
    min-width: 331px;
    font-family: "PingFang SC";
    font-size: 20px;
    color: #1c1f23cc;
    line-height: 32px;
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
    margin: 12px 0px 0px;
}

.code {
    position: absolute;
    left: 48px;
    top: 40px;
    width: 32px;
    height: 32px;
    overflow: hidden;
}

.frame834 {
    position: relative;
    border-style: solid;
    width: 379px;
    height: 132px;
    background: #ffffffff;
    overflow: hidden;
    padding: 23px 123px 23px 31px;
    border-width: 1px;
    border-color: #1c1f2314;
    border-radius: 6px;
}

.group42_5d7d529b {
    position: absolute;
    left: 32px;
    top: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 379px;
}

.openAPI {
    min-width: 103px;
    font-family: Inter;
    font-size: 24px;
    color: #1c1f23ff;
    line-height: 32px;
    letter-spacing: -0.72px;
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
}

.text_869ff55c {
    min-width: 299px;
    font-family: "PingFang SC";
    font-size: 20px;
    color: #1c1f23cc;
    line-height: 32px;
    text-align: left;
    vertical-align: top;
    font-weight: 600;
    margin: 8px 0px 0px;
}

.frame835 {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: solid;
    height: 132px;
    background: #ffffffff;
    overflow: hidden;
    padding: 23px 42px 23px 31px;
    border-width: 1px;
    border-color: #1c1f2314;
    border-radius: 6px;
}

.group44_0a25ea67 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 460px;
}

.webhooks {
    min-width: 120px;
    font-family: "PingFang SC";
    font-size: 24px;
    color: #1c1f23ff;
    line-height: 32px;
    text-align: left;
    vertical-align: top;
    font-weight: 600;
}

.text_cba8da73 {
    min-width: 379px;
    font-family: "PingFang SC";
    font-size: 20px;
    color: #1c1f23cc;
    line-height: 32px;
    text-align: left;
    vertical-align: top;
    font-weight: 600;
    margin: 12px 0px 0px;
}

.frame836 {
    position: relative;
    border-style: solid;
    width: 482px;
    height: 132px;
    background: #ffffffff;
    overflow: hidden;
    padding: 23px 20px 23px 31px;
    border-width: 1px;
    border-color: #1c1f2314;
    border-radius: 6px;
}

.group42_a77b54b5 {
    position: absolute;
    left: 32px;
    top: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 482px;
}

.fileSupports {
    min-width: 146px;
    font-family: Inter;
    font-size: 24px;
    color: #1c1f23ff;
    line-height: 32px;
    letter-spacing: -0.72px;
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
}

.text_fbb8b5ef {
    min-width: 402px;
    font-family: "PingFang SC";
    font-size: 20px;
    color: #1c1f23cc;
    line-height: 32px;
    text-align: left;
    vertical-align: top;
    font-weight: 600;
    margin: 8px 0px 0px;
}

.frame837 {
    position: relative;
    border-style: solid;
    width: 461px;
    height: 132px;
    background: #ffffffff;
    overflow: hidden;
    padding: 23px 41px 23px 31px;
    border-width: 1px;
    border-color: #1c1f2314;
    border-radius: 6px;
}

.group44_e24ea6cf {
    position: absolute;
    left: 32px;
    top: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 461px;
}

.inContextEditor {
    min-width: 197px;
    font-family: "PingFang SC";
    font-size: 24px;
    color: #1c1f23ff;
    line-height: 32px;
    text-align: left;
    vertical-align: top;
    font-weight: 600;
}

.text_9a6f6a04 {
    min-width: 380px;
    font-family: "PingFang SC";
    font-size: 20px;
    color: #1c1f23cc;
    line-height: 32px;
    text-align: left;
    vertical-align: top;
    font-weight: 600;
    margin: 12px 0px 0px;
}

.autoWrapper_cb397127 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 184px;
    height: 32px;
    margin: 22px 0px 0px;
}

.text_cc51e88b {
    min-width: 80px;
    font-family: "PingFang SC";
    font-size: 20px;
    color: #0077faff;
    line-height: 32px;
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
}

.frame732 {
    flex-shrink: 0;
    position: relative;
    width: 1440px;
    height: 520px;
}

.rectangle46 {
    position: absolute;
    width: 1440px;
    height: 520px;
    background: #ffffffff;
}

.text_95747343 {
    position: absolute;
    left: 161px;
    top: 144px;
    min-width: 288px;
    font-family: "PingFang SC";
    font-size: 36px;
    color: #000000ff;
    line-height: 24px;
    text-align: left;
    vertical-align: top;
    font-weight: 600;
}

.group196 {
    position: absolute;
    left: 256px;
    top: 266px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 112px;
}

.group195 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 961px;
}

.autoWrapper_2d4ec810 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
}

.autoWrapper_1b657944 {
    position: relative;
    width: 60px;
    height: 60px;
}

.ellipse5 {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #3f51b5ff;
    border-radius: 50%;
}

.semiIconsFolderOpen {
    color: #ffffffff;
    font-size: 24px;
    position: absolute;
    top: 18px;
    left: 18px;
}

.text_42f6e8bf {
    min-width: 80px;
    font-family: "PingFang SC";
    font-size: 20px;
    color: #000000ff;
    line-height: 28px;
    text-align: right;
    vertical-align: top;
    font-weight: 600;
    margin: 24px 0px 0px;
}

.semiIconsArrowRight {
    color: #000000ff;
    font-size: 16px;
    margin: 22px 0px 0px;
}

.ellipse6 {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #05a4b6ff;
    border-radius: 50%;
}

.cloud {
    position: absolute;
    left: 18px;
    top: 18px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}

.text_2fa2f509 {
    min-width: 80px;
    font-family: "PingFang SC";
    font-size: 20px;
    color: #000000ff;
    line-height: 28px;
    text-align: center;
    vertical-align: top;
    font-weight: 600;
    margin: 24px 0px 0px;
}

.ellipse7 {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #885bd2ff;
    border-radius: 50%;
}

.ellipse8 {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #3bb346ff;
    border-radius: 50%;
}

.ellipse19 {
    position: absolute;
    left: 452px;
    top: 105px;
    width: 30px;
    height: 30px;
    background: #fefbebff;
    border-radius: 50%;
}

.rectangle_f66a95da {
    position: absolute;
    left: 775px;
    top: 94px;
    width: 468.1814880371094px;
    height: 332.4188537597656px;
    box-shadow: 0px 4px 14px 0px #0000001a;
}

.frame724 {
    position: absolute;
    left: 140px;
    top: 129px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ellipse17 {
    width: 30px;
    height: 30px;
    background: #e5f7f8ff;
    border-radius: 50%;
}

.frame722 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 36px;
    margin: 20px 0px 0px;
}

.text_e0161644 {
    min-width: 108px;
    font-family: "PingFang SC";
    font-size: 36px;
    color: #1c1f23ff;
    line-height: 44px;
    text-align: left;
    vertical-align: top;
    font-weight: 600;
}

.text_28545dbc {
    width: 474px;
    font-family: "PingFang SC";
    font-size: 20px;
    color: #1c1f23cc;
    line-height: 32px;
    text-align: left;
    vertical-align: top;
    font-weight: 400;
    margin: 16px 0px 0px;
}

.text_2e1e83f5 {
    width: 438px;
    font-family: "PingFang SC";
    font-size: 20px;
    color: #0077faff;
    line-height: 32px;
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
    margin: 20px 0px 0px;
}

.text_8981d70f {
    position: absolute;
    left: 140px;
    top: 168px;
    min-width: 112px;
    font-family: "PingFang SC";
    font-size: 28px;
    color: #ffffffff;
    line-height: 40px;
    text-align: left;
    vertical-align: top;
    font-weight: 600;
}

.rectangle_d0215024 {
    position: absolute;
    left: 159px;
    top: 94px;
    width: 467.74383544921875px;
    height: 332px;
    box-shadow: 0px 4px 14px 0px #0000001a;
}

.frame723 {
    position: absolute;
    left: 728px;
    top: 145px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ellipse18 {
    width: 30px;
    height: 30px;
    background: #f3edf9ff;
    border-radius: 50%;
}

.frame721 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 38px 24px 0px;
    margin: 20px 0px 0px;
}

.text_b50c3058 {
    min-width: 216px;
    font-family: "PingFang SC";
    font-size: 36px;
    color: #1c1f23ff;
    line-height: 44px;
    text-align: left;
    vertical-align: top;
    font-weight: 600;
}

.text_e1853419 {
    width: 400px;
    font-family: "PingFang SC";
    font-size: 20px;
    color: #1c1f23cc;
    line-height: 32px;
    text-align: left;
    vertical-align: top;
    font-weight: 400;
    margin: 16px 0px 0px;
}

.text_a08d99df {
    position: absolute;
    left: 728px;
    top: 371px;
    width: 438px;
    font-family: "PingFang SC";
    font-size: 20px;
    color: #0077faff;
    line-height: 32px;
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
}

.frame733 {
    flex-shrink: 0;
    position: relative;
    width: 1440px;
    height: 400px;
}

.rectangle46_0d915c26 {
    position: absolute;
    width: 1440px;
    height: 400px;
    background: #6b7075ff;
}

.frame726 {
    position: absolute;
    left: 540px;
    top: 128px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 61px 0px 0px;
}

.text_18611d7e {
    min-width: 300px;
    font-family: "PingFang SC";
    font-size: 36px;
    color: #ffffffff;
    line-height: 44px;
    text-align: left;
    vertical-align: top;
    font-weight: 600;
}

.group_83545f00 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    margin: 60px 0px 0px 84px;
}

.rectangle_cdd811ff {
    position: absolute;
    width: 192px;
    height: 40px;
    background: #ffffffff;
    border-radius: 3px;
}

.text_b07ae722 {
    position: absolute;
    left: 60px;
    top: 8px;
    min-width: 72px;
    font-family: "PingFang SC";
    font-size: 18px;
    color: #6b7075ff;
    line-height: 24px;
    text-align: center;
    vertical-align: top;
    font-weight: 600;
}

.footer1 {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 18px;
    background: #2e32380d;
    overflow: hidden;
    padding: 19px 24px;
}

.brandingBnW {
    width: 160px;
    height: 18px;
    overflow: hidden;
}

.text_0fce1d9e {
    min-width: 129px;
    font-family: "PingFang SC";
    font-size: 12px;
    color: #1c1f2399;
    line-height: 16px;
    text-align: left;
    vertical-align: top;
    font-weight: 400;
    margin: 0px 0px 0px 11px;
}

.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 264px;
    height: 16px;
    margin: 0px 0px 0px 828px;
}

.text_8d382d86 {
    min-width: 48px;
    font-family: "PingFang SC";
    font-size: 12px;
    color: #1c1f2399;
    line-height: 16px;
    text-align: left;
    vertical-align: top;
    font-weight: 400;
}

.__d2c__placeholder {
    font-size: 12px;
}